<template>
  <div class="flex-col h-screen relative">
    <div class="top-div h-3/6 relative" align="center">
      <div class="text-home pt-8">
        <span class="title-home">Somos Boceto</span>
        <br />
        <span class="subtitle-home">Diseño. Publicidad y Arte</span>
        <br />
      </div>
      <div class="video">
        <video
          autoplay
          muted
          loop
          width="742px"
          height="297px"
          class="position-video"
        >
          <source src="../../assets/videos/home-video.webm" />
        </video>
      </div>
    </div>
    <div class="bottom-div h-3/6" align="center">
      <div class="introduction-text max-w-screen-sm pt-14">
        <span class="text-large"
          >"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint ocasionalecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. "</span
        >
      </div>
      <div class="video cursor-pointer">
        <div class="button-eye mt-36 relative">
          <video
            autoplay
            muted
            loop
            height="56px"
            width="57px"
            class="position-video-eye"
          >
            <source src="../../assets/videos/ojo-comprimido.webm" />
          </video>
          <span class="enter-class">Entrar</span>
        </div>
      </div>
    </div>
    <ModalCookies v-if="cookiesModal" @acceptCookies="acceptCookies"></ModalCookies>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cookiesModal: true,
    };
  },
  methods: {
    acceptCookies(){
      this.cookiesModal = false;
    }
  }
};
</script>

<style>
@font-face {
  font-family: Sofia Pro;
  src: url("../../assets/fonts/SofiaPro.otf") format("opentype");
}

.top-div {
  background-color: #f5f5f5;
}

.bottom-div {
  background: #dde0e7 0% 0% no-repeat padding-box;
}

.title-home {
  font: normal normal bold 40px Sofia Pro;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.subtitle-home {
  font: normal normal 300 19px Sofia Pro;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.position-video {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text-large {
  text-align: center;
  font: normal normal normal 19px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.button-eye {
  width: 110px;
  height: 60px;
  border: 1px solid #707070;
  border-radius: 7px;
  opacity: 1;
}

.position-video-eye {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: -65px;
}

.enter-class {
  position: relative;
  top: 22px;
  font: normal normal normal 20px Roboto;
  font-weight: bold;
  color: #707070;
}

</style>
