<template>
  <div class="landing-page">
    <div class="home-section position-relative w-full" align="right">
      <video
        autoplay
        muted
        loop
        width="431px"
        height="555px"
        class="position-monster"
      >
        <source src="../../assets/videos/monstruo_comprimido.webm" />
      </video>
      <img
        src="../../assets/images/landing/icons/close_icon.svg"
        alt=""
        class="pointer"
        srcset=""
        style="position: relative; top: 50px; right: 50px"
      />
    </div>
    <div
      class="section-two h-screen background-cat"
      style="padding-top: calc(100vh - 25%)"
    >
      <img
        src="../../assets/images/landing/madera-manos.webp"
        alt=""
        style="
          position: relative;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 4;
        "
        srcset=""
      />
      <div class="capa_1">
        <img
          src="../../assets/images/landing/cloud/capa_1.webp"
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            top: calc(100vh - 10%) !important;
            z-index: 1;
          "
          alt=""
          srcset=""
        />
      </div>
      <div class="capa_2">
        <img
          src="../../assets/images/landing/cloud/capa_2.webp"
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            top: calc(100vh - 1%) !important;
            z-index: 2;
          "
          alt=""
          srcset=""
        />
      </div>
      <div class="capa_3">
        <img
          src="../../assets/images/landing/cloud/capa_3.webp"
          style="
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            top: calc(100vh - -60%) !important;
            z-index: 3;
          "
          alt=""
          srcset=""
        />
      </div>
      <div class="left-cloud">
        <img
          src="../../assets/images/landing/cloud/cloud_left.webp"
          alt=""
          srcset=""
        />
      </div>
      <div class="right-cloud">
        <img
          src="../../assets/images/landing/cloud/cloud_right.webp"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <div
      class="relative z-10"
      style="background: #d6d6d6; margin-top: 20%"
      align="center"
    >
      <div class="flex justify-center items-center" align="center">
        <div class="text-proyect w-4/12">
          <span>
            PRO <br />
            YEC <br />
            TOS
          </span>
        </div>
        <div class="cat-image">
          <img
            src="../../assets/images/landing/gato_morir.webp"
            alt=""
            srcset=""
            width="600px"
            height="560px"
          />
        </div>
      </div>
      <div
        class="flex justify-center items-center background-cat-hand"
        align="center"
      >
        <div class="cat-image">
          <img
            src="../../assets/images/landing/ilustrations/ilustration_1.svg"
            alt=""
            srcset=""
            style="position: relative; left: 110px"
          />
        </div>
        <div class="w-4/12">
          <span class="title-info">MARCA </span> <br />
          <div class="info-landing mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>
      </div>
      <div
        class="flex justify-center items-center background-cat-hand-invert"
        align="center"
      >
        <div class="w-4/12 transform-scale">
          <span class="title-info">DISEÑO WEB </span> <br />
          <div class="info-landing mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>
        <div class="cat-image">
          <img
            src="../../assets/images/landing/ilustrations/ilustration_2.svg"
            alt=""
            srcset=""
            style="position: relative; rigth: 110px"
          />
        </div>
      </div>
      <div
        class="flex justify-center items-center background-cat-hand"
        align="center"
      >
        <div class="cat-image">
          <img
            src="../../assets/images/landing/ilustrations/ilustration_3.svg"
            alt=""
            srcset=""
            style="position: relative; left: 110px"
          />
        </div>
        <div class="w-4/12">
          <span class="title-info">ILUSTRACION </span> <br />
          <div class="info-landing mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>
      </div>
      <div
        class="flex justify-center items-center background-cat-hand-invert"
        align="center"
      >
        <div class="w-4/12 transform-scale">
          <span class="title-info">ILUSTRACION </span> <br />
          <div class="info-landing mt-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>
        <div class="cat-image">
          <img
            src="../../assets/images/landing/ilustrations/ilustration_4.svg"
            alt=""
            srcset=""
            style="position: relative; right: 110px"
          />
        </div>
      </div>
    </div>
    <div class="section-three h-screen">
      <span>Hola</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {},
};
</script>

<style>
@font-face {
  font-family: Sofia Pro;
  src: url("../../assets/fonts/SofiaPro.otf") format("opentype");
}

/* .background-cat {
  background-image: url("../../assets/images/landing/fondo-gato.jpg");
} */

.home-section {
  background: transparent
    linear-gradient(180deg, #2f193b 0%, #1a0d22 38%, #1a0f20 100%) 0% 0%
    no-repeat padding-box;
  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.position-monster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.right-cloud {
  position: absolute;
  right: 0;
  top: 35%;
  bottom: 0;
  margin: auto;
}

.left-cloud {
  position: absolute;
  left: 0;
  top: 35%;
  bottom: 0;
  margin: auto;
}

.text-proyect {
  font: normal normal 900 96px/87px Sofia Pro;
  letter-spacing: 0px;
  color: #656365;
  opacity: 1;
}

.title-info {
  font: normal normal bold 45px/48px Sofia Pro;
  letter-spacing: 0px;
  color: #270000;
  opacity: 1;
}

.info-landing {
  font: normal normal normal 17px/20px Roboto;
  letter-spacing: 0px;
  color: #270000;
  opacity: 1;
  width: 390px;
}

.background-cat-hand {
  background-image: url("../../assets/images/landing/brazo_gato_landing.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.background-cat-hand-invert {
  background-image: url("../../assets/images/landing/brazo_gato_landing.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}

.transform-scale {
  transform: scaleX(-1);
}

.section-three {
  background: transparent
    linear-gradient(180deg, #2f193b 0%, #1a0d22 38%, #1a0f20 100%) 0% 0%
    no-repeat padding-box;
}
</style>
