<template>
  <!-- Modal Cookies -->
  <div class="h-screen w-full absolute inset-0" align="center">
    <div class="modal-cookies h-screen w-full absolute inset-0"></div>
    <div class="max-w-screen-md pt-72 absolute inset-0 m-auto">
      <div class="politic-title" align="left">Politicas de Cookies</div>
      <div class="container-politic">
        <p class="text-politic">
          Las cookies son importantes para usted, influyen en su experiencia de
          navegación. <br /><br />
          Nuestro sitio web utiliza "cookies" analíticas, de personalización y
          publicitarias (propias y de terceros) para ofrecerle una mejor
          experiencia y servicio. Puede configurar o rechazar las cookies
          haciendo clic en "Configurar cookies". También puede aceptar todas las
          cookies haciendo clic en el botón "Aceptar todas las cookies".
          <br /><br />
          Para más información puede visitar nuestra ( política de Cookies ).
        </p>
      </div>
      <div class="button-accept cursor-pointer" @click="acceptCookies" align="center">
        Aceptar todos los Cookies
      </div>
    </div>

    <img
      class="hand-left"
      src="../../assets/images/cookies/hand-cort.png"
      alt=""
    />
    <img
      class="hand-right"
      src="../../assets/images/cookies/hand-cort.png"
      alt=""
    />
  </div>
</template>


<script>
export default {

  methods:{
    acceptCookies(){
      this.$emit('acceptCookies')
    }
  }
}
</script>

<style scoped>
/* Modal Cookies */

.modal-cookies {
  background: #2f193b 0% 0% no-repeat padding-box;
  opacity: 0.8;
  position: absolute;
  top: 0;
}

.politic-title {
  font: normal normal normal 40px Roboto;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 80px;
  margin-bottom: 10px;
}

.button-accept {
  background: #f15296 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
  width: 297px;
  height: 41px;
  font: normal normal normal / 23px Sofia Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  line-height: 2.3;
  margin-top: 13px;
}

.hand-right {
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hand-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.container-politic {
  background: transparent linear-gradient(290deg, #ffffff66 0%, #ffffff0d 100%)
    0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  width: 668px;
  height: 276px;
  padding: 22px 34px 24px 35px;
}

.text-politic {
  text-align: left;
  font: normal normal normal 18px/23px Sofia Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
</style>